<h1>New Movie</h1>
<form action="/movies" method="POST">
    <label>Title</label>
    <input type="text" name="title">
    <br />

    <label>Year</label>
    <input type="text" name="year">
    <br />

    <label>Metascore</label>
    <input type="text" name="rating">

    <br />

    <input type="submit">
</form>

<a href="/movies">Movie Index</a>