<table>
    <thead>
        <th>id</th>
        <th>Title</th>
        <th>Year</th>
        <th>Metascore</th>
    </thead>
    <tbody>
        <tr>
            <td><%= @movie.id %></td>
            <td><%= @movie.title %></td>
            <td><%= @movie.year %></td>
            <td><%= @movie.rating %></td>
        </tr>
    </tbody>
</table>

<a href="/movies">Movie Index</a>