<table>
    <thead>
        <th>id</th>
        <th>fname</th>
        <th>lname</th>
        <th>email</th>
    </thead>
    <tbody>
        <tr>
            <td><%= @user.id %></td>
            <td><%= @user.fname %></td>
            <td><%= @user.lname %></td>
            <td><%= @user.email %></td>
        </tr>
    </tbody>
</table>

<a href="/users">Users Index</a>